<button type="button"><%= link_to 'BCH MA 1hr', backtrade_bm1_path %></button>

<h1>BTC BCH 2% and 1%  </h1>
<p>This is the middle of the road 2% up to get into bch and 1% down to get out of bch</p>

  <%# @bch_btc_trade.each do |trade| %>

        <p>Last <%#= trade.last %>
        Buy <%#= trade.buy %>
        Sell <%#= trade.sell %></p
        <p><%#= trade.created_at %></p>
        <p></p>
        <br>
  <%# end %>
  
  <%#= trade_data[0] %>

<table style="width:100%">
  <tr>
    <th>Time</th>
    <th>Crypto</th>
    <th>Units</th>
    <th>Target</th>
    <th>Btc Equivalent</th>
    <th>Last</th>
  </tr>
  <% @trade_data.each do |t| %>
  <tr>
    <td><%= t.created_at %></td>
    <td><%= t.crypto %></td>
    <td><%= t.units %></td>
    <td><%= t.target %></td>
    <td><%= t.btc_equivalent unless t.btc_equivalent.nil?  %></td>
    <td><%= t.last %></td>
  </tr>
  <% end %>
  </tr>
</table>